@import '../../../assets/scss/var';
@import '../../../assets/scss/default';
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.menupage {
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: #ddd;
  line-height: 1.55em;
}

.menu {
  font-family: 'Muli', sans-serif;
  &_title {
    font-family: 'Muli', sans-serif;
    .menu__list-icon {
      margin: 2em 1em 0em;
    }

    &--gold {
      display: inline;
      color: $color_gold;
      font-weight: 900;
    }
  }

  &__menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 0.4rem;

    &__button {
      display: inline-block;
      background-color: white;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
      color: black;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      font-family: 'Muli', sans-serif;
      font-size: 16px;
      border-radius: 0.6rem;
      margin: 0.8rem 0.5rem;

      &:active {
        background-color: $color_green;
        color: white;
      }

      &.active {
        background-color: $color_green;
        color: white;
      }

      &.first {
        margin-left: 1rem;
      }

      &.last {
        margin-right: 1rem;
      }
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

article.card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  font-family: 'Muli', sans-serif;
  margin-top: 2rem;
  white-space: nowrap;
  background-color: #fff;
  width: 11rem;
  height: 21rem;
  border-radius: 0.5rem;
  color: #000;
}

.card__figure {
  max-height: 164px;
  &__img {
    max-width: 11rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

header.card__header {
  padding: 0rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 15rem;

  & h2 {
    font-weight: 400;
    font-size: 1rem;
    white-space: normal;
    line-height: 1.8rem;
  }
}

section.card__content {
  display: flex;
  align-self: flex-end;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  color: #386637;
  flex-wrap: nowrap;
  font-weight: bold;
}

button.card__button {
  display: flex;
  align-self: flex-end;
  margin-bottom: 0.5rem;
  padding: 0.1rem 0.7rem;
  height: 50px;
  width: 50px;
  margin-right: 1rem;
  border-radius: 4rem;
  background-color: #386637;
  border: 0.5rem solid #386637;
  font-size: 1.5rem;
  color: #ececec;
  transition: 0.2s all;

  &:hover {
    background-color: #ececec;
    color: #386637;
    cursor: pointer;
  }
}

@media screen and (min-width: $bp_tablet) {
  .menupage {
    font-size: 1.8rem;
  }

  .menu {
    &__menu {
      margin-top: 0.8rem;

      &__button {
        padding: 20px 50px;
        font-size: 24px;
      }
    }
  }

  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  article.card {
    width: 13rem;
    height: 23rem;
  }

  .card__figure {
    max-height: 194px;
    &__img {
      max-width: 13rem;
    }
  }

  header.card__header {
    & h2 {
      font-size: 1.2rem;
    }
  }

  button.card__button {
    padding: 0.1rem 0.65rem;
  }
}

@media screen and (min-width: $bp_laptop) {

}
