@import '../../../assets/scss/var';
@import '../../../assets/scss/default';
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.menupage {
  // font-size: 1.2rem;
  box-sizing: border-box;
  background-color: #ddd;
  line-height: 1.55em;
}

.menu {
  font-family: 'Muli', sans-serif;
  &_title {
    font-family: 'Muli', sans-serif;
    .menu__list-icon {
      margin: 2em 1em 0em;
    }

    &--gold {
      display: inline;
      color: $color_gold;
      font-weight: 900;
    }
  }

  &__menu {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 0.4rem;

    &__button {
      display: inline-block;
      background-color: white;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.21);
      color: black;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      font-family: 'Muli', sans-serif;
      font-size: 16px;
      border-radius: 0.6rem;
      margin: 0.8rem 0.5rem;

      &:active {
        background-color: $color_green;
        color: white;
      }

      &.active {
        background-color: $color_green;
        color: white;
      }

      &.first {
        margin-left: 1rem;
      }

      &.last {
        margin-right: 1rem;
      }
    }
  }
}


.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

article.card {
  font-family: 'Muli', sans-serif;
  margin-top: 2rem;
  white-space: nowrap;
  background-color: #fff;
  width: 11rem;
  height: 18rem;
  border-radius: 0.5rem;
  color: #000;
}

.card__img {
  max-width: 11rem;
}

header.card__header {
  padding: 0rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 15rem;

  & h2 {
    font-weight: 400;
    font-size: 1rem;
    white-space: normal;
    line-height: 1.8rem;
  }
}

section.card__content {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  color: #386637;
  font-weight: bold;
}

button.card__button {
  display: inline-block;
  margin: 0.7rem 0rem 0rem 3rem;
  padding: 0rem 0.4rem;
  border-radius: 5rem;
  background-color: #386637;
  border: 0.5rem solid #386637;
  font-size: 1.5rem;
  color: #ececec;
  transition: 0.2s all;

  &:hover {
    background-color: #ececec;
    color: #386637;
    cursor: pointer;
  }
}
