// Import
@import '../../assets/scss/var';
@import '../../assets/scss/default';
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');

.contact {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  position: relative;
  background-position: top center;

  &__content {
    padding: 26px 20px;
  }

  &__info {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    margin-bottom: 7px;
    font-weight: 900;
    color: $color_gold;
  }

  &__subtitle {
    font-size: 18px;
    color: black;
    margin-bottom: 4px;
    font-weight: bold;
  }

  &__text {
    font-size: 14px;
    color: $color_darkgrey;
    margin: 4px 0;
  }


  &__openingstijden{
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__phone{
    margin-top: 20px;
  }

}

.table{

  &__day{
    text-align: left;
    padding-right: 20px;
  }
}