.image {
    width: 120%;
    max-height: 15em;
}

.content {
    background-color: white;
    border-radius: 50px 50px 0 0;
    height: 100%;
    position: relative;
    top: -8em;
}

.text {
    text-align: center;
    font-weight: 400;
    font-size: larger;
}

.text__sub {
    color: grey;
    font-size: medium;
    font-weight: 300;
    margin: 0;
}

.text__welcome {
    padding-top: 1em;
    margin-top: 3em;
}

.text__secondary {
    color: #996501;
}