@import '../../assets/scss/var';

.header {
    background-color: $color_green;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    &__figure {
        margin: 0;
        padding: 0;

        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 220px;
            width: 100%;
        }
    }

    &__fa_icons {
        color: white;
        padding-right: 1rem;
        display: flex;
    }

    @media screen and (max-width: $bp_mobile) {
        .header {
            justify-content: space-between;

            &__figure {

                > img {
                    left: 40%;
                }
            }
        }
    }
}