@import '../../assets/scss/var';

.footer {
    text-align: center;
    padding: 40px;

    &__adres {
        font-size: 0.9em;
        color: $color_grey;

        p {
            margin: 0;
            padding: 0;
        }
    }
}